*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 100%;
  padding: 133px 30px;
  display: flex;
  gap: 30px;
  align-items: end;
  justify-content: space-between;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  block-size: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-block-end: 5px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid currentColor;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  block-size: 100%;
  inline-size: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: solid 1px currentColor;
  background-color: transparent;
  color: inherit;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  block-size: 34px;
}

.search-form__submit-button {
  align-self: end;
  inline-size: 194px;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  max-block-size: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 90%;
  line-clamp: 4;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 194px;
  object-fit: cover;
  object-position: center;
}
.more-button {
  inline-size: 100%;
  flex-shrink: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
}

*/

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
